* {
  box-sizing: border-box !important;
}
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
  font-family: 'Open Sans', sans-serif;
  --white: #ffffff;
  --black: #000000;
  --gray: #e5e7eb;
  --gray-dark: #71717a;
  --green: #01a001;
  /* --purple: #312783; */
  --purple: #00009b;
  --blue: #3c7ec1;
  --blue-light: #009fe3;
  --white-svg: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(6%) hue-rotate(231deg)
    brightness(103%) contrast(100%);
  /* --purple-svg: brightness(0) saturate(100%) invert(15%) sepia(43%) saturate(3715%)
    hue-rotate(236deg) brightness(93%) contrast(99%); */
  --purple-svg: brightness(0) saturate(100%) invert(10%) sepia(55%) saturate(4233%)
    hue-rotate(234deg) brightness(119%) contrast(156%);
  --blue-svg: brightness(0) saturate(100%) invert(51%) sepia(22%) saturate(1350%) hue-rotate(169deg)
    brightness(85%) contrast(92%);
  --blue-light-svg: brightness(0) saturate(100%) invert(53%) sepia(65%) saturate(5661%)
    hue-rotate(172deg) brightness(102%) contrast(103%);
  --white-svg: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(336deg) brightness(101%) contrast(107%);
}
/*
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 400px) {
}
*/
body {
  position: relative;
}
.division {
  background-color: var(--gray);
  width: 100%;
  height: 0.1rem;
  margin: 3rem 0.5rem;
}
a:hover,
button:hover {
  transform: scale(0.99);
  filter: brightness(0.9);
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
