* {
  box-sizing: border-box !important;
}
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
  font-family: 'Open Sans', sans-serif;
  --white: #ffffff;
  --black: #000000;
  --gray: #e5e7eb;
  --gray-dark: #71717a;
  --purple: #312783;
  --blue: #3c7ec1;
  --blue-light: #009fe3;
  --purple-svg: brightness(0) saturate(100%) invert(15%) sepia(43%) saturate(3715%)
    hue-rotate(236deg) brightness(93%) contrast(99%);
  --blue-svg: brightness(0) saturate(100%) invert(51%) sepia(22%) saturate(1350%) hue-rotate(169deg)
    brightness(85%) contrast(92%);
  --blue-light-svg: brightness(0) saturate(100%) invert(53%) sepia(65%) saturate(5661%)
    hue-rotate(172deg) brightness(102%) contrast(103%);
  --white-svg: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(336deg) brightness(101%) contrast(107%);
}
/*
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 400px) {
}
*/
body {
  position: relative;
}
.price-tables .tables {
  display: flex;
  gap: 3rem;
}
.price-tables .table {
  color: var(--white);
  width: 30rem;
  padding: 5rem 2.4em 2.4rem 2.4rem;
  background-color: var(--purple);
  border-radius: 1rem;
}
.price-tables .table .subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.price-tables .table .speed {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.price-tables .table .price {
  font-size: 3rem;
  font-weight: 700;
}
.price-tables .table .month {
  font-size: 1.5rem;
  font-weight: 400;
}
.price-tables .table .time {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0.3rem;
  display: block;
}
.price-tables .btns {
  margin-top: 2rem;
}
.price-tables .btn {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 1rem;
}
.price-tables .btn img {
  width: 2rem;
}
.price-tables .btn-online {
  background-color: var(--white);
}
.price-tables .btn-online img {
  filter: var(--purple-svg);
}
.price-tables .btn-whatsapp {
  color: var(--white);
  background-color: #01a001;
}
.price-tables .adicional-boxes {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}
.price-tables .adicional-box {
  padding: 1rem;
  background-color: var(--gray);
  color: var(--black);
  line-height: 1.2;
  font-weight: 600;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 5rem;
  height: 5rem;
  gap: 0.5rem;
  align-items: center;
}
.price-tables .adicional-box .btn-switch {
  background: var(--gray-dark);
  height: 1.5rem;
  width: 4rem;
  padding: 0 0.3rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.price-tables .adicional-box .btn-switch:hover {
  cursor: pointer;
}
.price-tables .adicional-box .btn-switch .ball {
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  border-radius: 100%;
  margin-left: 0;
  transition: 0.5s ease-in-out;
}
.price-tables .adicional-box .btn-switch.active .ball {
  cursor: pointer;
  margin-left: calc(100% - 1rem);
}
.price-tables .text {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
