* {
  box-sizing: border-box !important;
}
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
  font-family: 'Open Sans', sans-serif;
  --white: #ffffff;
  --black: #000000;
  --gray: #e5e7eb;
  --gray-dark: #71717a;
  --purple: #312783;
  --blue: #3c7ec1;
  --blue-light: #009fe3;
  --purple-svg: brightness(0) saturate(100%) invert(15%) sepia(43%) saturate(3715%)
    hue-rotate(236deg) brightness(93%) contrast(99%);
  --blue-svg: brightness(0) saturate(100%) invert(51%) sepia(22%) saturate(1350%) hue-rotate(169deg)
    brightness(85%) contrast(92%);
  --blue-light-svg: brightness(0) saturate(100%) invert(53%) sepia(65%) saturate(5661%)
    hue-rotate(172deg) brightness(102%) contrast(103%);
  --white-svg: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(336deg) brightness(101%) contrast(107%);
}
/*
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 400px) {
}
*/
body {
  position: relative;
}
.division {
  background-color: var(--gray);
  width: 100%;
  height: 0.1rem;
  margin: 3rem 0.5rem;
}

/* .hero .row {
  display: grid;
  grid-template-columns: 45% 1fr;
  height: 40rem;
}
.hero .row .content {
  padding: 3rem 3rem 3rem 20%;
  background: linear-gradient(180deg, var(--blue-light), var(--purple));
} 
.hero .row .logo {
  height: 4rem;
  margin-bottom: 5rem;
}
.hero .row h1 {
  font-size: 3rem;
  font-weight: 800;
}
.hero .row .image {
  position: relative;
  overflow: hidden;
  display: block;
  height: 100%;
}
.hero .row .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
*/
